.widget-wrapper {
  margin: 0 15px 15px 15px;
  background: #fff;
  box-shadow: 1px 1px 3px #ccc;
}

.widget-wrapper .widget-header-wrapper {
  background: #f6f6f6;
  height: 45px;
}

.widget-wrapper .header-title {
  display: inline;
  padding: 0 10px;
}
.widget-wrapper .header-title span {
  font-size: 14px;
  color: #767676;
  margin-left: 5px;
  font-weight: 600;
}
.widget-wrapper .header-icon {
  width: 15px;
  height: 100%;
  vertical-align: middle;
  margin-left: 5px;
}

.widget-wrapper .header-icon path {
  fill: #767676;
}

.widget-wrapper .widget-row-wrapper {
  padding: 10px;
}

.widget-wrapper .button-blue {
  margin: 0 0 0 5px;
  padding: 5px 10px;
  background: #337ab7;
  color: #fff;
  font-size: 12px;
  line-height: 150%;
  border-radius: 3px;
  font-weight: 600;
}

.widget-wrapper .button-blue:hover {
  background: #36608c;
}

.widget-wrapper .button:focus {
  outline: 0;
}

.widget-wrapper .button .button-icon {
  width: 10px;
  height: 100%;
  margin-right: 5px;
  vertical-align: middle;
}

.widget-wrapper .button .button-icon path {
  fill: #fff;
}

.widget-wrapper .button-red {
  margin: 0 0 0 5px;
  padding: 5px 10px;
  background: #c9302c;
  color: #fff;
  font-size: 12px;
  line-height: 150%;
  border-radius: 3px;
  font-weight: 600;
}

.widget-wrapper .button-red:hover {
  background: #36608c;
}

.widget-wrapper .button-red:focus {
  outline: 0;
}

.widget-wrapper .button-red:disabled {
  background: #dc9690;
}
